<div class="container">
  <div class="img">
    <div>
      <img
      (mousemove)="onMouseMove($event, image_url, $event.currentTarget)"
      (mouseleave)="onMouseLeave($event.currentTarget)"
      style="cursor: pointer;width: 50%;height: 96vh;"
      src="../assets/nike-shoes-for-men.jpeg"
      alt="img"
      class="img-fluid img-size" loading="lazy" />
    </div>
  </div>
<div class="zoom-img">
  <div class="zoom-pane" *ngIf="zoomImageUrl" [ngStyle]="{ 'background-image': 'url(' + zoomImageUrl + ')', 'display': zoomPaneVisible ? 'block' : 'none' }"></div>
</div>
</div>

<router-outlet />
